p {
  font-family: roboto, Arial;
  margin-top: 0px;
  margin-bottom: 0px; 
}

.thumbnail-row {
  margin-bottom: 12px;
  position: relative;
}


.thumbnail {
  width: 100%;
}

.video-time {
  font-family: Roboto, Arial;
  font-size: 12px;
  font-weight: 500;
  padding: 4px;
  border-radius: 2px;
  background-color: black;
  color: white;
  position: absolute;
  bottom: 10px;
  right: 6px;
}

.video-title {
  margin-top: 0px;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  margin-bottom: 12px;
}

.video-info-grid {
  display: grid;
  grid-template-columns: 50px 1fr;
}

.video-author, .video-description {
  font-size: 12px;
  color: rgb(96, 96, 96);
}

.video-author {
  margin-bottom: 4px;
}

.profile-picture {
  width: 36px;
  border-radius: 50px;
}

.video-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 15px;
  row-gap: 40px;
  background-color: rgb(246, 246, 246);
  padding: 20px;
  /*padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
  padding-bottom: 20px;*/
}

@media (max-width: 870px) { /*Only activated when screen size is 870px or less*/
  .video-grid {
    grid-template-columns: 1fr 1fr;
  }
} 

@media (min-width: 1125px) { /*Only activated when screen size is 1125px or more*/
  .video-grid {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
} 